dl.accordion-menu {
  margin: 0;
  padding: 0;
  background:#191919;
}

dl.accordion-menu dt.a-m-t {
  margin: 1px 0 0 0;
  background: #F02662;
  padding: 0.3em .3em;
  color: #FFFFFF;
  border-left: solid 1px #F02662;
  border-right: solid 1px #F02662;
}

dl.accordion-menu dt.a-m-t-hover{
  background:#FF5386;
}


dl.accordion-menu dt.a-m-t-down {

}





html.accordion-menu-js dt.a-m-t{
  cursor:pointer;
  zoom:1;
}

dl.accordion-menu dd.a-m-d {
  margin: 0;
  padding: 0;
}

html.accordion-menu-js dd.a-m-d{
  display:none;
}


html.accordion-menu-js dd.a-m-d-expand {
  display:block;
  margin-bottom: 1px;
}
html.accordion-menu-js dd.a-m-d-expand .bd{
}

html.accordion-menu-js dd.a-m-d-before-expand {
  display:block;
  position:relative;
  z-index:-1;
  opacity:0;
  height:auto !important;
  visibility:hidden;
  overflow:visible;
}


html.accordion-menu-js dt.a-m-t-expand {
  color: #FFFFFF;
  background: #FF5386; /*#F02662;*/
  border-right: 1px solid #F02662;
  border-left: 1px solid #F02662;
}

html.accordion-menu-js dd.a-m-d-anim {
  overflow:hidden;
  display:block;
}

dl.accordion-menu dd.a-m-d .bd{
  border: 1px solid #F02662;
}


/* Mine */

.a-m-t-first {
  padding-right: 5px;
}

.a-m-t-second {
  color: #912142;
}
