/* Eric Meyer - http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}


body {
  font-size: 72.5%;
  font-family: Tahoma, Helvetica, Verdana, sans-serif;
  color: #FFFFFF;
  background: #191919;
}
a, a:link {
  color: #FFFFFF;
  text-decoration: none;
}
a:visited {
  color: #FFFFFF;
}
a:hover {
  color: #F42764;
}
a:active {
  color: #FF2764;
}
a:focus {
  outline: 1px dotted invert;
}
a:hover .icon {
  background: #F42764;
}
#data {
  margin: 5px 0 0 0;
}
#list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}
#list li {
  margin-left: 10px;
  clear: both;
}
#status {
  color: #F02662;
  padding: 12px 0 12px 2em;
  display: none;
}
#controls {
  height: 2em;
  line-height: 2em;
  padding: 0;
  margin: 0;
  background: #451C28;
  color: #FFFFFF;
}
#controls a {
  line-height: 2em;
  outline: none;
}
#playpause {
  outline: none;
  float: left;
  padding: 0 0 0 3px;
}
#linkback {
  float: right;
  padding: 0 3px 0 0;
}
.icon {
  background: #FFFFFF;
  width: 20px;
  height: 20px;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  margin-top: 0px;
}
.feeling {
  float: right;
  padding-bottom: 15px;
  padding-right: 10px;
  width: 89%;
}
.text {
  font-size: 1.15em;
  line-height: 1.45em;
}
.meta {
  color: #808080;
  font-size: .95em;
  visibility: hidden;
  margin-top: 5px;
  line-height: 1.25em;
}
.dot {
  float: left;
  width: 6%;
  height: 8px;
  margin-top: .5em;
}
.highlightedFeeling {
  padding-bottom: 1px;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}
